// Spacelab
// Bootswatch
// base.less
// allows access to core variables and mixins inside bootswatch.css.less

// @import "twitter/bootstrap/variables";
@import "spacelab/variables";

// @import "twitter/bootstrap/mixins";
@import "spacelab/mixins";

body{
  //background-image: image-url('MainPhoto.jpg');
  //background-repeat: no-repeat;
  //background-position: top center;
}

h1 {
  color: #cccccc;
}

#main-container {
  margin-top: 5%;
  background-color: none;
}

.actions {
  float: right;
}

.full-field{
  width: 100%;
}

.small-container{
  width: 20%;
}

.img-dark{
  filter: brightness(50%);
}

#div-main-image{
  z-index: -10;
  position: absolute;
  left: 5%;
  top: 0px;
}

